html
{
	margin: 0px;
	width: 100%;
	height: 100%;
}

body
{
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    overflow: hidden;
}

#wrapper
{
	min-width: 960px;
	max-width: 1366px;
	height: 100%;
}

#header
{
	width: 100%;
	height: 40px;
	background: #F4F5F5;
	border-bottom: 1px solid #d3d3d3;
}

#header_logo
{
	float: left;
	background: url('images/bg_logo.png') repeat-x;
	width: 200px;
	height: 100%;
}

#logo_text
{
	color: #fff;
	font-weight: bold;
	font-family: tahoma;
    font-size: 14px;
	padding: 13px 0px 20px 24px;
}

#logo_text a:link, #logo_text a:visited,  #logo_text a:hover
{
	text-decoration: none;
	color: #fff;
}


#module_name
{
    float: left;
	font-size: 18px;
	color: #333;
	margin: 0px 0px 0px 32px;
	padding: 9px 0px 0px 0px;
}
 
#module_name a:link, #module_name a:visited
{	
	text-decoration: none;
	color: #333;
}

#module_name a:hover
{
	text-decoration: none;
	color: #A70303;
}

#user_short_info
{
    float: right;
    font-size: 12px;
	color: #333;
	margin: 0px 0px 0px 231px;
    padding: 13px 38px 0px 0px;
}

#user_short_info a:link,
#user_short_info a:visited
{
    color: #333;
    text-decoration: none;
}

#user_short_info a:hover
{
    color: #A70303;
    text-decoration: none;
}

#left_sidebar
{
	float: left;
	width: 200px;
	border-right: 1px solid #d3d3d3;
	margin: -1px 0px 0px 0px;
}

#left_sidebar_container
{

}

#content_container
{
	margin: -1px 0px 0px 201px;
	padding: 20px 20px 10px 30px;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapped_content
{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 20px 0px 0px;
    width: 100%;
}

#content_container h1
{
	font-size: 15px;
	font-weight: lighter;
	color: #333;
	border-bottom: 1px solid #ccc;
	padding: 0px 0px 5px 0px;
}

#breadcumb
{
	background: url('images/bg_breadcumb.png') repeat-x;
	height: 30px;
	margin: -20px -20px 0px -30px;
	padding: 10px 0px 0px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
}

#breadcumb a:visited, #breadcumb a:link
{
	text-decoration: none;
	color: #fff;
}

#breadcumb a:hover
{
	text-decoration: none;
	color: #ddd;
}

#breadcumb small
{
	font-size: 9px;
}

#footer
{
    clear: both;
    background: #F4F5F5;
    border-top: 1px solid #ccc;
}

#footer_container
{
    margin: 0px;
    padding: 10px 0px 10px 10px;
}

.form_actions
{
    color: #000;
    clear: both;
    padding: 0px 0px 10px 0px;
}

.form_actions a:link,
.form_actions a:visited
{
    color: #000;
    text-decoration: none;
    padding-right: 10px;
    
} 

.form_actions a:hover
{
    color: #A70303;
    text-decoration: none;
    padding-right: 10px;
}

.red_text
{
    color: #f00;
}

#search_container
{
    clear: both;
    padding: 5px 0px 0px 0px;
}

.icon_home
{
	background: url('images/icon_home.png') no-repeat center left;
	padding: 2px 0px 0px 18px;
}

.icon_add
{
	background: url('images/icon_add.png') no-repeat center left;
	padding: 2px 20px 2px 0px;
}

.icon_search
{
	background: url('images/icon_search.png') no-repeat center left;
	padding: 2px 20px 2px 0px;
}

.icon_edit
{
	background: url('images/icon_app.png') no-repeat center left;
	padding: 2px 20px 0px 0px;
}

.icon_user
{
	background: url('images/icon_user.png') no-repeat center left;
	padding: 2px 20px 0px 0px;
}

.icon_logout
{
	background: url('images/icon_logout.png') no-repeat center left;
	padding: 2px 20px 0px 0px;
}

.icon_var_input
{
	background: url('images/icon_var_input.gif') no-repeat center left;
	padding: 2px 20px 0px 0px;
}

.icon_var_input2
{
	background: url('images/icon_var_input2.png') no-repeat center left;
	padding: 2px 20px 0px 0px;
}

.icon_delete
{
	background: url('images/icon_delete.png') no-repeat center left;
	padding: 2px 20px 0px 0px;
}
